@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    width: 100%;
}


.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
}

.menu {
    background-color: rgb(255, 190, 68);
    text-align: center;
    position: relative;
    width:35%;
    top:40px;
    padding: 20px;
    height: 20px;
    border-radius: 10px;
}

.menu-list li {
    display: inline-block;

}

.menu-list li a {
    position: relative;
    text-decoration: none;
    color: #000;
    margin-left: 25px;
    font-size:18px;   
    transition: 0.5s;
    display: block;


}

.menu-list li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background-color: #ebebeb;
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: right;
}


.menu-list li a:hover {
    color:#fff;
}

.menu-list li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.main-section { 
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin:70px 0 200px 0;
}

.main-descritpion {
    position: relative;
    top:100px;
    left: 100px;
}

.main-paragraph {
    margin:30px 0 0 15px;
    font-size: 20px;
    width: 70%;

}

.main-img {
    position: relative;
    left: -90px;
}

.contact-us {
    width:250px;
    padding: 15px;
    border: 0;
    background-color: rgb(255, 190, 68);
    border-radius: 5px;
    position: relative;
    left: 300px;
    top:30px;
    display: flex;
    justify-content: space-evenly;

}

.contact-us:hover {
    cursor: pointer;
}

.contact-us a {
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    font-size: 15px;
}

.about {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    height: 100vh;
    
}

.list-header {
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
}
.about-school {
    width: 40%;
    text-align: justify;
}

.about-header {
    background-color: rgb(255, 231, 188);;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    
}

.exam-img {
    width: 400px;
}
.benefits-list li {
    padding: 5px;
}

.photo-gallery {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    margin-top: 100px;
}


.splide__track{
    text-align: center;
}
.gallery {
    width: 80%;
    margin: 50px auto;
}

.opinions {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 60vh;
}

.opinion-box {
    padding-top: 10px;
    text-align: center;
    margin-top: 100px;
    width: 320px;
}

.opinion-box p {
    margin-top: 10px;
}

.stars {
    color: gold;
}


.footer {
    width: 100%;
    height: 90vh;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.adress {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    
}

.map img {
    border-radius: 5px;
}

.footer-img {
    display: flex;
    margin: 0 auto 20px;
    
}

.open-time ul{
    margin-top: 10px;
}

.open-time p {
    font-weight: bold;
}
.open-time ul li {
    margin-top: 5px;
    text-align: right;
    list-style-type: circle;
}

.contact-us-footer {
    width:200px;
    padding: 15px;
    border: 0;
    background-color: rgb(255, 190, 68);
    border-radius: 5px;
    display: flex;
    margin-top: 15px;
    justify-content: space-evenly;

}

.contact-us-footer a {
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    font-size: 13px;
}

.phone-number {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.time {
    text-align: right;
}

@media only screen and (max-width: 900px) {

    * {
        padding: 0;
    }

    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: fixed;
        top: 35px;
        right: 25px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1000;
      }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0px;
        left: -100%;
        width: 100%;
        height: 30vh;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
    .menu__item:hover {
        background-color: #CFD8DC;
      }


    .nav { 
    flex-direction: column-reverse;
    }

    .menu {
        top:0;
        border-radius: 0px;
        width: 100%;
        position: fixed;
        z-index: -10;
        height: 40px;
    }

    .logo-info h2 {
        font-size: 15px;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        
    }
    .menu-list li {
        margin-left: -25px;
    }

    .nav {
        height: 40px;
    }
    .header {
        position: fixed;
        z-index: -5;
        margin-top: 30px;
    
    }

    .nav-logo {
        width: 100px;
        position: relative;
        top:10px;
    }

    .logo-info {
        font-size: 15px;
    }
    .main-section {
        z-index: -111;
        flex-direction: column;
        margin-bottom: 0;
    }
    .main-img {
        margin: 50px auto;
        left: 0;
    }


    .contact-us {
        left: 15px;
    }

    .main-descritpion {
        top:10px;
        left: 0;
        font-size: 15px;
        margin-left: 20px;
    }

    .main-paragraph {
        margin-left: 25px;
    }
    .tech-img {
        width: 250px;
        height: 250px;
        position: relative;
    }

    .map {
        display: none;
    }

    .about-school {
        width: 100%;

    }

    .room-img {
        width: 320px;
        height: 320px;
    }

    .exam-img {
        width: 320px;
    }
    .about {
        height: 100%;
        justify-content: unset;
        flex-direction: column;
    }

    .opinions {
        flex-direction: column;
        justify-content: center;
        align-items:center;
        height: 100%;
        width: 100%;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
    }

    .adress {
        flex-direction: column;
    }

    .open-time, .full-adress, .phone-number {
        margin-top: 25px;
    }

}   
